@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header-1 {
  @apply text-[2.5rem] font-bold leading-tight md:text-[3rem] xl:text-[4rem];
}
.header-2 {
  @apply text-[2rem] font-bold leading-tight md:text-[2.25rem] xl:text-[3.2rem];
}
.header-3 {
  @apply text-[1.5rem] font-bold leading-tight md:text-[1.875rem] xl:text-[2.4rem];
}
.header-4 {
  @apply text-[1.25rem] font-bold leading-tight md:text-[1.5rem] xl:text-[2rem];
}
.header-5 {
  @apply text-[1.15rem] font-bold leading-tight md:text-[1.25rem] xl:text-[1.5rem];
}
.subheading {
  @apply text-[1.15rem] leading-tight md:text-[1.25rem] xl:text-[1.5rem];
}
.body-text {
  @apply text-clay;
}
.container {
  @apply max-[767px]:px-[1.5rem];
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 20px;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
